
@model IEnumerable<Assignment3.Models.Class>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<p>This page shows the information about all classes</p>

<div id="containerlist">
    <h2>List of Classes</h2>
    <form action="/Class/List" method="GET">
        <input type="text" name="SearchKey" autocomplete="off" />
        <input type="submit" value="Search" />
    </form>


    @foreach (var classes in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Class/Show/@classes.ClassId">@classes.ClassCode @classes.ClassName @classes.StartDate @classes.FinishDate   </a></div>
        </div>
    }
</div>
